test.img
backups
bootc-bls/extra-fcos/usr/bin/bootc
bootc-bls/extra-fcos/usr/lib/dracut/modules.d/37bootc/bootc-initramfs-setup
bootc-bls/extra/usr/bin/bootc
bootc-bls/extra/usr/lib/dracut/modules.d/37bootc/bootc-initramfs-setup
bootc-uki/VARS_CUSTOM.secboot.qcow2.template
bootc-uki/bootc
bootc-uki/extra-fcos/usr/bin/bootc
bootc-uki/extra-fcos/usr/lib/dracut/modules.d/37bootc/bootc-initramfs-setup
bootc-uki/extra/usr/bin/bootc
bootc-uki/extra/usr/lib/dracut/modules.d/37bootc/bootc-initramfs-setup
bootc-uki/secureboot/
systemd-bootx64.efi
